/* Animasyon */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Scrool Reveal kaydırma animasyonları */

/* Gizleme */
.reveal {
    opacity: 0;
    transform: translateY(30px); 
    transition: all 0.8s cubic-bezier(0.5, 0, 0, 1); 
    filter: blur(5px); 
}

/* Görünme */
.reveal.active {
    opacity: 1;
    transform: translateY(0); 
    filter: blur(0); 
}


/* DENEME AMACLI */

/* iskeleton */
.skeleton {
    background: #e2e8f0;
    background: linear-gradient(90deg, #e2e8f0 25%, #f1f5f9 50%, #e2e8f0 75%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite;
    border-radius: 8px;
}

/* Karışmaması için theme.css ' e dark modeları eklemiyorum projeden çıkarabilirim */
body.dark-mode .skeleton {
    background: #1e293b;
    background: linear-gradient(90deg, #1e293b 25%, #334155 50%, #1e293b 75%);
}

@keyframes shimmer {
    0% { background-position: 200% 0; }
    100% { background-position: -200% 0; }
}

.skeleton-card {
    background: #fff;
    border-radius: 20px;
    padding: 2rem;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
}
body.dark-mode .skeleton-card { background: #1e293b; } 

.skeleton-img { width: 100%; height: 200px; margin-bottom: 1rem; }
.skeleton-title { width: 70%; height: 24px; margin-bottom: 0.5rem; }
.skeleton-text { width: 100%; height: 16px; margin-bottom: 0.5rem; }
.skeleton-btn { width: 100px; height: 35px; border-radius: 50px; margin-top: 1rem; }